<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       
    <a href="{% url 'first5' %}">  first 5 student </a> <br>
    <a href="{% url 'last5' %}">  last 5 student </a><br>
    <a href="{% url 'allstu' %}">  all student </a><br>
    <a href="{% url 'assen' %}">  all student assecding </a><br>
    <a href="{% url 'dssend' %}">  all student dssecding </a> 
</body>
</html>