<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- <a href="{% url 'landing' %}">back</a> -->
         <a href="{% url 'landing' %}">first 5 students</a> <br>
         <a href="{% url 'landing' %}">last 5 students</a> <br>
         <a href="{% url 'landing' %}">all student</a> <br>
         <a href="{% url 'landing' %}">all student assecding</a> <br>
         <a href="{% url 'landing' %}">all student dssecding</a> <br>
        {% if data  %}
    <table border="5">
            <tr>
                <th>S.no</th>
                <th>Email</th>
                <th>Name</th>
                <th>Contact</th>
                <th>City</th>
            </tr>

                {%  for i in data %}
                <tr>
                    <td>{{i.stu_sno}}</td>
                    <td>{{i.stu_email}}</td>
                    <td>{{i.stu_name}}</td>
                    <td>{{i.stu_contact}}</td>
                    <td>{{i.stu_city}}</td>
                </tr>
                {% endfor %}
                
    </table>
    {% else %}
    <p>No data available.</p>
    {% endif %}
</body>
</html>